<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- Storage -->
  <bean id="com.svisoft.simplegoogle.core.storage.StorageService"
        class="com.svisoft.simplegoogle.core.impl.storage.StorageServiceImpl">
    <property name="storageDao" ref="com.svisoft.simplegoogle.db.storage.StorageDao" />
  </bean>

  <bean id="com.svisoft.simplegoogle.db.storage.StorageDao"
        class="com.svisoft.simplegoogle.core.impl.storage.StorageDaoImpl">
  </bean>

</beans>