<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- Storage -->
  <bean id="com.svisoft.simplegoogle.core.storage.Directory"
        class="org.apache.lucene.store.RAMDirectory">
  </bean>

  <bean id="com.svisoft.simplegoogle.core.storage.Analyzer"
        class="org.apache.lucene.analysis.core.WhitespaceAnalyzer">
    <constructor-arg value="LUCENE_46" />
  </bean>

  <bean id="com.svisoft.simplegoogle.core.storage.IndexService"
        class="com.svisoft.simplegoogle.core.impl.storage.IndexServiceImpl">
    <property name="directory" ref="com.svisoft.simplegoogle.core.storage.Directory" />
    <property name="analyzer" ref="com.svisoft.simplegoogle.core.storage.Analyzer" />
    <property name="luceneVersion" value="LUCENE_46" />
    <property name="idFieldName" value="id" />  <!--TODO: move to global conf file-->
    <property name="titleFieldName" value="title" /> <!--TODO: move to global conf file-->
    <property name="contextFieldName" value="context" /> <!--TODO: move to global conf file-->
    <property name="searchService" ref="com.svisoft.simplegoogle.core.storage.SearchService" />
  </bean>

  <bean id="com.svisoft.simplegoogle.core.storage.SearchService"
        class="com.svisoft.simplegoogle.core.impl.storage.SearchServiceImpl">
    <property name="directory" ref="com.svisoft.simplegoogle.core.storage.Directory" />
    <property name="analyzer" ref="com.svisoft.simplegoogle.core.storage.Analyzer" />
    <property name="luceneVersion" value="LUCENE_46" />
    <property name="idFieldName" value="id" />  <!--TODO: move to global conf file-->
    <property name="titleFieldName" value="title" /> <!--TODO: move to global conf file-->
    <property name="contextFieldName" value="context" /> <!--TODO: move to global conf file-->
  </bean>

  <!-- Request -->
  <bean id="com.svisoft.simplegoogle.core.request.RequestService"
        class="com.svisoft.simplegoogle.core.impl.request.RequestServiceImpl">
  </bean>

  <!-- Initialize -->
  <bean id="com.svisoft.simplegoogle.core.initialize.InitializeService"
        class="com.svisoft.simplegoogle.core.impl.initialize.InitializeServiceImpl">
    <property name="indexService" ref="com.svisoft.simplegoogle.core.storage.IndexService" />
    <property name="requestService" ref="com.svisoft.simplegoogle.core.request.RequestService" />
  </bean>

</beans>