<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

  <mvc:annotation-driven />

  <!-- Spring MVC common settings -->
  <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix" value="/WEB-INF/views/com/svisoft/"/>
    <property name="suffix" value=".jsp"/>
  </bean>

  <!-- common controllers -->
  <bean id="com.svisoft.common.web.AbstractController"
        class="com.svisoft.common.web.AbstractController"
        abstract="true"/>

  <!-- Static resources -->
  <mvc:resources mapping="/favicon.ico" location="/favicon.ico" />

</beans>